---
---
@import "monophase/main";


body {
    font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", Hiragino Kaku Gothic Pro, "メイリオ", "ＭＳ Ｐゴシック", sans-serif !important;
    font-size: 1em !important;
    letter-spacing: .75px !important;
    line-height: 1.8 !important;
}